
@using Web_Prog_Odev.Models
@model List<Web_Prog_Odev.Models.Department>

@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Departments</title>

    <style>
        @{ Html.RenderPartial("~/Views/Shared/PartialPages/CSS/CardsCSS.cshtml"); }
        @Html.Partial("~/Views/Shared/PartialPages/CSS/CardsCSS.cshtml")

        @{ Html.RenderPartial("~/Views/Shared/PartialPages/CSS/CRUDButtonsCSS.cshtml"); }
        @Html.Partial("~/Views/Shared/PartialPages/CSS/CRUDButtonsCSS.cshtml")
    </style>

</head>
<body>

    <!-- Kart yapısı -->
    <div>
        <h1 style="text-align: center; color: #333333;">Our Departments</h1>
        <div class="container">

            @foreach (Department department in Model.ToList())
            {
                <div class="card">

                    <h3>@department.DepartmentName</h3>
                    <p>@department.Dep_Description</p>
                    <div class="information">
                        <b>Patient Number: </b><span>@department.Dep_NumberOfPatients</span>
                    </div>
                    <div class="information">
                        <b>Bedridden Patient Number: </b><span>@department.Dep_NumberOfBedridden</span>
                    </div>
                    <div class="information">
                        <b>Empty Bed: </b><span>@department.Dep_NumberOfEmptyBed</span>
                    </div>

                    @{
                        if (Session["IsAdmin"] != null)
                        {
                            Html.RenderPartial("~/Views/Shared/PartialPages/CRUDButtons.cshtml");
                            Html.Partial("~/Views/Shared/PartialPages/CRUDButtons.cshtml");
                        }
                        else
                        {
                            <button onclick="location.href='@Url.Action("ProfessorPage", "Professor", new { id = department.DepartmentID })'">
                                Professors
                            </button>
                        }
                    }

                </div>
            }

        </div>
    </div>
</body>
</html>
