@*
    // varsayılan layout olacağına ilişkin tanım, layout tanımlanmayan (null olan) sayfalarda bu layout kullanılacak
    // _ViewStart RenderBody kabul etmediği için normal bir layout page kullanımı olarak tasarlanacak
    Layout = "~/Views/Shared/_ViewStart.cshtml";
*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <style>

        body {
            font-family: Arial, sans-serif;
            background-color: #fff8cc; /* Tema rengine uygun açık bir arka plan */
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        /* Navbar */
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffdb4d;
            padding: 25px 65px;
            margin: 10px 15px;
            position: sticky;
        }

            .navbar .nav-links {
                display: flex;
                gap: 15px;
                align-items: center;
                margin: 5px 8px;
            }

            .navbar a {
                text-decoration: none;
                color: #332900;
                font-weight: bold;
            }

                .navbar a:hover {
                    text-decoration: underline;
                }

            .navbar .buttons {
                display: flex;
                gap: 10px;
                align-items: center;
                margin: 5px 8px;
            }

            .navbar .button-link {
                padding: 8px 15px;
                border: none;
                border-radius: 5px;
                background-color: #332900;
                color: #ffdb4d;
                font-weight: bold;
                text-decoration: none;
                display: inline-block;
                text-align: center;
            }

                .navbar .button-link:hover {
                    background-color: #4d3900;
                }

            .page-info{
                text-align: end;
            }


        /* Footer */
        footer {
            background-color: #e6b800;
            padding: 20px;
            color: #332900;
            font-size: 14px;
        }

            footer .footer-content {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            footer .footer-content div{
                padding: 0 200px;
            }

            footer .footer-bottom {
                text-align: center;
                margin-top: 10px;
                font-weight: bold;
                margin-top: 5px;
                color: rgb(255, 240, 179, 0.5);
            }

        .renderBody{
            padding: 30px;
            margin-bottom: 15px;
        }
        
    </style>

</head>
<body>
    @{
        // admin girişi yapılmadıysa sadece verileri görüntüler
        if (Session["IsAdmin"] == null || !(bool)Session["IsAdmin"])
        {
            <!-- Header/navbar bölümü -->
            <header>
                <div class="navbar">
                    <div class="nav-links">
                        <div class="logo">
                            <a href="@Url.Action("HomePage", "Home")"><img src="~/Content/logo.jpg" alt="Logo" style="height: 40px; border-radius: 50%; border: 2px dashed #806600"></a>
                        </div>
                        @Html.ActionLink("Assistants", "AssistantPage", "Assistant")
                        @Html.ActionLink("Professors", "ProfessorPage", "Professor")
                        @Html.ActionLink("Departments", "DepartmentPage", "Department")
                        @Html.ActionLink("Schedule", "SchedulePage", "Shift")
                        @Html.ActionLink("Shifts", "ShiftPage", "Shift")
                        @Html.ActionLink("Emergency", "EmergencyPage", "Emergency")
                    </div>
                    <div class="buttons">
                        <a href="@Url.Action("AppointmentPage", "Appointment")" class="button-link">Appointment</a>
                        <a href="@Url.Action("Login", "Admin")" class="button-link">Admin Login</a>
                    </div>
                </div>
            </header>
        }
        else
        {
            <header>
                <div class="navbar">
                    <div class="nav-links">
                        <div class="logo">
                            <a href="@Url.Action("HomePage", "Home")"><img src="~/Content/logo.jpg" alt="Logo" style="height: 40px; border-radius: 50%; border: 2px dashed #806600"></a>
                        </div>
                        @Html.ActionLink("Assistants", "AssistantPage", "Assistant")
                        @Html.ActionLink("Professors", "ProfessorPage", "Professor")
                        @Html.ActionLink("Departments", "DepartmentPage", "Department")
                        @Html.ActionLink("Shifts", "ShiftPage", "Shift")
                        @Html.ActionLink("Emergency", "EmergencyPage", "Emergency")
                        @Html.ActionLink("Appointments", "AppointmentPage", "Appointment")
                    </div>
                    <div class="buttons">
                        <a href="@Url.Action("Logout", "Admin")" class="button-link">Admin Log Out</a>
                    </div>
                </div>
            </header>

            <div>
                <div class="page-info">
                    <span style="color: rgb(77, 61, 0, 0.5); margin-right: 10px;">@Session["AdminLogged"] </span>
                    <!-- <span style="color: rgb(77, 61, 0, 0.5); margin-right: 20px;">@@Html.ActionLink("Log Out", "Logout", "Admin")</span> -->
                </div>
            </div>
        }
    }


    <div class="renderBody">
        @RenderBody()
    </div>

    <!-- Footer bölümü -->
    <footer>
        <div class="footer-content">
            <div>
                <strong>Contact:</strong>
                <p>Email: info@hospital.com</p>
                <p>Phone: +90 555 123 45 67</p>
            </div>
            <div>
                <strong>Address:</strong>
                <p>Main Street 123</p>
                <p>Ankara, Turkey</p>
            </div>
        </div>
        <div class="footer-bottom">
            <i>2024 All rights reserved.</i>
        </div>
    </footer>

</body>
</html>
