@using Web_Prog_Odev.Models
@model List<Web_Prog_Odev.Models.Professor>

@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DepartmentView</title>

    <style>
        @{ Html.RenderPartial("~/Views/Shared/PartialPages/CSS/CardsCSS.cshtml"); }
        @Html.Partial("~/Views/Shared/PartialPages/CSS/CardsCSS.cshtml")

        @{ Html.RenderPartial("~/Views/Shared/PartialPages/CSS/AppointmentButtonCSS.cshtml"); }
        @Html.Partial("~/Views/Shared/PartialPages/CSS/AppointmentButtonCSS.cshtml")
    </style>
</head>
<body>

    <!-- Kart yapısı -->
    <div>
        <h1 style="text-align: center; color: #333333;">Our Assistants</h1>
        <div class="container">

            @foreach (Professor professor in Model.ToList())
            {
                <div class="card">

                    <h3 style="display:inline; text-align:center;">@professor.ProfName @professor.ProfSurname</h3>

                    <div class="information">
                        <b>Contact Number: </b><span>@professor.ProfTel</span>
                    </div>
                    <div class="information">
                        <b>Mail Address: </b><span>@professor.ProfMail</span>
                    </div>
                    <div class="information">
                        <b>Department: </b><span>@professor.DepartmentR.DepartmentName</span>
                    </div>

                    @{ Html.RenderPartial("~/Views/Shared/PartialPages/AppointmentButton.cshtml"); }
                    @Html.Partial("~/Views/Shared/PartialPages/AppointmentButton.cshtml")

                </div>
            }
        </div>
    </div>


</body>
</html>
