

@using Web_Prog_Odev.Models
@model List<Web_Prog_Odev.Models.Emergency>

@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .banner {
            background-image: url('https://via.placeholder.com/1920x600');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 100px 20px;
        }

        .quick-access {
            margin-top: -50px;
            position: relative;
        }

            .quick-access .card {
                border-radius: 15px;
            }

        .card-body {
            background-color: #fff8cc;
        }
            .button {
                padding: 8px 15px;
                border: none;
                border-radius: 5px;
                background-color: #332900;
                color: #ffdb4d;
                font-weight: bold;
                text-decoration: none;
                display: inline-block;
                text-align: center;
            }



        .emergency-flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .emergency {
                width: 400px;
                padding: 10px;
                border-radius: 20px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            .emergency-info {
                background-color: #fff8cc;
                padding: 20px;
                margin: 5px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

                .emergency-info h3 {
                    font-size: 1.5em;
                    margin: 10px 0;
                    color: #333333;
                }

                .emergency-info p {
                    font-size: 1em;
                    color: #666666;
                    line-height: 1.5;
                }

        .information {
            padding: 2px 15px;
        }

    </style>
</head>
<body>


    <!-- Banner Alanı -->
    <div class="banner">
        <h1>Pediatrics Assistant-Shift Management System</h1>
        <p>Easily find information about departments, appointments and shift times.</p>
    </div>

    <!-- Hızlı Erişim Alanı -->
    <div class="container quick-access">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white">
                    <div class="card-body">
                        <h2 class="card-title">Departments</h2>
                        <p class="card-text">View Pediatric Departments in our Hospital.</p>
                        <a href="@Url.Action("DepartmentPage", "Department")" class="button">Departments</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white">
                    <div class="card-body">
                        <h2 class="card-title">Professors</h2>
                        <p class="card-text">View Professors in all Departments.</p>
                        <a href="@Url.Action("ProfessorPage", "Professor")" class="button">Professors</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white">
                    <div class="card-body">
                        <h2 class="card-title">Assistans</h2>
                        <p class="card-text">View Professors in all Departments.</p>
                        <a href="@Url.Action("AssistantPage", "Assistant")" class="button">Assistants</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div>
        <h1 style="text-align: center">Emergency Calls</h1>
        <div class="emergency-flex">
            <div class="emergency">
                @{
                    List<Emergency> emergencies = Model.ToList();
                    foreach (Emergency emg in emergencies)
                    {
                        <div class="emergency-info">
                            <h2>@emg.EmergencyName</h2>
                            <p>@emg.EmergencyDescription</p>
                            <div class="information">
                                <h4>@emg.DepartmentR.DepartmentName</h4>
                            </div>
                            <div class="information">
                                <b>Entered Time: </b><span>@emg.EmergencyDate</span>
                            </div>
                            <div class="information">
                                <b>Details of the on-shift Assistant: </b>
                                <div>
                                    @emg.DepartmentR.ShiftList.Where(s => s.ShiftStart <= emg.EmergencyDate && s.ShiftEnd >= emg.EmergencyDate).ToList().FirstOrDefault().AssistantR.AssistName
                                    @emg.DepartmentR.ShiftList.Where(s => s.ShiftStart <= emg.EmergencyDate && s.ShiftEnd >= emg.EmergencyDate).ToList().FirstOrDefault().AssistantR.AssistSurname
                                    <div>
                                        <span>Contact: </span>
                                        @emg.DepartmentR.ShiftList.Where(s => s.ShiftStart <= emg.EmergencyDate && s.ShiftEnd >= emg.EmergencyDate).ToList().FirstOrDefault().AssistantR.AssistTel ;
                                        @emg.DepartmentR.ShiftList.Where(s => s.ShiftStart <= emg.EmergencyDate && s.ShiftEnd >= emg.EmergencyDate).ToList().FirstOrDefault().AssistantR.AssistMail
                                    </div>

                                    @*  Farklı bir şekilde veri çekme ancak çıktıyı istediğim şekilde düzenleyebilmek adına bir değişkene atamayı tercih ettim
                             @emg.DepartmentR.ShiftList.Where(s => s.ShiftStart <= emg.EmergencyDate && s.ShiftEnd >= emg.EmergencyDate).Select(assist => new
                            {
                                assist.AssistantR.AssistName,
                                assist.AssistantR.AssistSurname,
                                assist.AssistantR.AssistTel
                            }).ToList().FirstOrDefault().ToString();*@
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
