@using Web_Prog_Odev.Models
@model List<Web_Prog_Odev.Models.Available_Prof>

@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Appointment Page</title>
    <style>

        @{ 
            Html.RenderPartial("~/Views/Shared/PartialPages/CSS/CardsCSS.cshtml");
            Html.RenderPartial("~/Views/Shared/PartialPages/CSS/CRUDButtonsCSS.cshtml");
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        .card {
            background-color: #ffffff;
            border: 2px solid #ffd633; /* Tema rengi */
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            width: 300px;
            margin: 10px;
            padding: 20px;
            text-align: center;
        }

            .card h3 {
                color: #333333;
            }

            .card p {
                color: #666666;
            }

        button {
            background-color: #ffd633;
            color: #333333;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            margin: 5px 0;
        }

            button:hover {
                background-color: #ffcc00;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            }

            button:disabled {
                background-color: #dddddd;
                color: #aaaaaa;
                cursor: not-allowed;
            }

    </style>
</head>
<body>
    <h1 style="text-align: center;">Available Professors For an Appointment</h1>

    @{
        if (Session["IsAdmin"] == null || !(bool)Session["IsAdmin"])
        {

        }
        else
        {
            // yeni bir veri eklemek için
            <div class="add-data">
                @{
                    ViewBag.AddUrl = Url.Action("AddData", "AvailableProf");

                    Html.RenderPartial("~/Views/Shared/PartialPages/AddButton.cshtml");
                }
            </div>
        }
    }

    <div class="container">
        @foreach (var avaiProf in Model.ToList())
        {
            <div class="card">
                <h3>@avaiProf.ProfessorR.ProfName @avaiProf.ProfessorR.ProfSurname</h3>
                <p><strong>Email:</strong> @avaiProf.ProfessorR.ProfMail</p>
                <p><strong>Appointment Start:</strong> @avaiProf.AvailableProfDateStart</p>
                <p><strong>Appointment End:</strong> @avaiProf.AvailableProfDateEnd</p>

                <p><strong>Status:</strong> @(avaiProf.IsAvailable ? "Available" : "Not Available")</p>


                @{
                    if (Session["IsAdmin"] == null || !(bool)Session["IsAdmin"])
                    {
                        if (avaiProf.IsAvailable)
                        {
                            <button onclick="location.href='@Url.Action("AddData", "Appointment", new { avaiId = avaiProf.AvailableProfID })'">
                                Create Appointment
                            </button>
                        }
                        else
                        {
                            List<Available_Prof> falseAvaiList = ViewBag.falseAvaiList;
                            Assistant assistant = falseAvaiList.Where(x => x.AvailableProfID == avaiProf.AvailableProfID).ToList().FirstOrDefault().AppointmentR.AssistantR;


                            <p><strong>Assistant who has the appointment:  </strong>@assistant.AssistName @assistant.AssistSurname</p>

                            <button disabled>
                                Not Available
                            </button>
                        }
                    }
                    else
                    {

                        // ViewBag ile admin CRUD işlemleri butonları URL'leri tanımlanıyor
                        ViewBag.EditUrl = Url.Action("EditData", "AvailableProf", new { avaiId = avaiProf.AvailableProfID });
                        ViewBag.DeleteUrl = Url.Action("Delete", "AvailableProf", new { avaiId = avaiProf.AvailableProfID });

                        <p>Edit or Delete Available Time Slot</p>
                        Html.RenderPartial("~/Views/Shared/PartialPages/CRUDButtons.cshtml");

                    }
                }

            </div>
        }
    </div>
</body>
</html>
